<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="log4j2" packages="me.libme">
    <Properties>

    </Properties>
    <Appenders>
        <Appender type="Console" name="appConsole">
            <Layout type="PatternLayout" pattern="%d %p  %c [%t] %m %n"/>
        </Appender>


    </Appenders>

    <Loggers>
        <Logger name="test" level="DEBUG" additivity="false">
            <AppenderRef ref="appConsole"/>
        </Logger>
        <Logger name="me.libme" level="DEBUG" additivity="false">
            <AppenderRef ref="appConsole"/>
        </Logger>
        <Logger name="org" level="DEBUG" additivity="false">
            <AppenderRef ref="appConsole"/>
        </Logger>

        <!-- 根logger的设置-->
        <root>
            <level value ="DEBUG"/>
            <appender-ref ref="appConsole"/>
        </root>

    </Loggers>

</Configuration>